$primary-1: hsl(236, 72%, 79%);
$primary-2: hsl(237, 63%, 64%);
$neutral-1: #fff;
$neutral-2: hsl(240, 78%, 98%);
$neutral-3: hsl(234, 14%, 74%);
$neutral-4: hsl(233, 13%, 49%);
$neutral-5: hsl(232, 13%, 33%);
$primary-gradient: linear-gradient(130deg, $primary-1 0%, $primary-2 100%);

.pricing-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 350px;
    height: 454px;
    margin-top: 25px;
    padding: 0 30px;
    text-align: center;
    color: $neutral-5;
    border-radius: 10px;
    background-color: $neutral-1;
    box-shadow: 1px 1px 20px 13px rgba(185, 186, 187, 0.2);
    &__title {
        font-size: 1.12em;
        font-weight: 700;
        margin-top: 13px;
    }

    &__price {
        font-size: 4.5em;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1px 0;
        letter-spacing: -0.04em;
        @media only screen and (max-width: 1200px) {
            font-size: 3.5em;
        }

        @media only screen and (max-width: 900px) {
            font-size: 4em;
        }
    }

    &__price-dollar {
        font-size: 0.5em;
        height: fit-content;
        margin-right: 12px;
    }

    &__benefits {
        margin: 23px 0 19px;
        padding-left: 0;
        list-style-type: none;
        letter-spacing: -0.03em;
        color: $neutral-4;
        li {
            font-weight: bold;
            padding: 17px 0;
            border-top: 1px solid $neutral-3;
            &:last-of-type {
                border-bottom: 1px solid $neutral-3;
            }
        }
        @media only screen and (max-width: 900px) {
            margin: 20px 0;
        }
    }

    &__button {
        font-weight: bold;
        height: 45px;
        margin: 10px 0;
        text-transform: uppercase;
        color: $neutral-2;
        border: none;
        border: 1px solid transparent;
        border-radius: 10px;
        background-color: $primary-2;
        background-image: $primary-gradient;
        &:hover {
            color: $primary-2;
            border-color: $primary-2;
            background-color: transparent;
            background-image: none;
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 4px $primary-2;
        }

        @media only screen and (max-width: 900px) {
            margin-bottom: 20px;
        }
    }

    &:nth-of-type(even) {
        height: 500px;
        margin-top: 0;
        color: $neutral-2;
        background-color: $primary-2;
        background-image: $primary-gradient;
        .pricing-panel__benefits {
            color: $neutral-2;
        }

        .pricing-panel__button {
            color: $primary-2;
            background-color: $neutral-2;
            background-image: none;
            &:hover {
                color: $neutral-2;
                border: 1px solid $neutral-2;
                border-color: $neutral-2;
                background-color: transparent;
            }

            &:focus {
                outline: none;
                box-shadow: 0 0 0 4px $primary-1;
            }
        }

        @media only screen and (max-width: 900px) {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    @media only screen and (max-width: 1200px) {
        width: 200px;
    }

    @media only screen and (max-width: 900px) {
        width: 250px;
        margin-bottom: 30px;
        padding: 10px 30px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    @media only screen and (max-width: 350px) {
        width: 200px;
    }
}
