$primary-1: hsl(236, 72%, 79%);
$primary-2: hsl(237, 63%, 64%);
$light-2: hsl(234, 14%, 74%);
$neutral: hsl(233, 13%, 49%);
$dark: hsl(232, 13%, 33%);
$primary-gradient: linear-gradient(130deg, $primary-1 0%, $primary-2 100%);

.pricing-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 10px 40px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    > * {
        width: 100%;
    }

    &__title {
        font-size: 1.2em;
        font-weight: 700;
        color: $neutral;
    }

    &__price {
        font-size: 4.5em;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px 0;
        color: $dark;
        @media only screen and (max-width: 1200px) {
            font-size: 3.5em;
        }

        @media only screen and (max-width: 900px) {
            font-size: 4em;
        }
    }

    &__price-dollar {
        font-size: 0.6em;
        height: fit-content;
        margin-right: 5px;
    }

    &__benefits-ul {
        margin: 25px 0;
        padding-left: 0;
        list-style-type: none;
        @media only screen and (max-width: 900px) {
            margin: 20px 0;
        }
    }

    &__benefit {
        font-weight: bold;
        padding: 15px 0;
        color: $neutral;
        border-top: 1px solid $light-2;
        &:last-of-type {
            border-bottom: 1px solid $light-2;
        }
    }

    &__button {
        font-weight: bold;
        height: 45px;
        margin: 10px 0;
        text-transform: uppercase;
        color: #fff;
        border: none;
        border-radius: 10px;
        background-color: $primary-1;
        background-image: $primary-gradient;
        &:hover {
            color: $primary-2;
            border: 1px solid $primary-1;
            background-color: transparent;
            background-image: none;
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 4px $primary-2;
        }

        @media only screen and (max-width: 900px) {
            margin-bottom: 20px;
        }
    }

    &:nth-of-type(even) {
        padding: 40px 40px;
        background-color: $primary-1;
        background-image: $primary-gradient;
        .pricing-panel__title,
        .pricing-panel__price,
        .pricing-panel__benefit {
            color: #fff;
        }

        .pricing-panel__button {
            color: $primary-2;
            background-color: #fff;
            background-image: none;
            &:hover {
                color: #fff;
                border: 1px solid #fff;
                background-color: transparent;
                background-image: none;
            }

            &:focus {
                outline: none;
                box-shadow: 0 0 0 4px $light-2;
            }
        }

        @media only screen and (max-width: 900px) {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    @media only screen and (max-width: 1200px) {
        width: 200px;
    }

    @media only screen and (max-width: 900px) {
        width: 250px;
        margin-bottom: 30px;
        padding: 10px 30px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    @media only screen and (max-width: 350px) {
        width: 200px;
    }
}
