$primary-1: hsl(236, 72%, 79%);
$primary-2: hsl(237, 63%, 64%);
$primary-gradient: linear-gradient(130deg, $primary-1 0%, $primary-2 100%);

.price-toggle {
    width: fit-content;
    height: 32px;
    padding: 0;
    transition: 0.3s;
    border: 0;
    border-radius: 20px;
    &:hover {
        opacity: 0.5;
    }
    &:focus {
        outline: none;
        background-color: $primary-2;
        box-shadow: 0 0 0 4px $primary-2;
    }
    &__slider {
        position: relative;
        display: inline-block;
        width: 57px;
        height: 100%;
        border-radius: 20px;
        background-color: $primary-1;
        background-image: $primary-gradient;
    }
    &__toggle {
        position: absolute;
        top: 4px;
        left: 6px;
        display: inline-block;
        width: 24px;
        height: 24px;
        transition: 0.3s;
        border-radius: 50%;
        background-color: #fff;
        transform: translateX(24px);
    }
    &--annually {
        .price-toggle__toggle {
            transform: translateX(0);
        }
    }
}
