@import "toggle";
@import "panel";

$primary-1: hsl(236, 72%, 79%);
$primary-2: hsl(237, 63%, 64%);
$light-1: hsl(240, 78%, 98%);
$light-2: hsl(234, 14%, 74%);
$neutral: hsl(233, 13%, 49%);
$dark: hsl(232, 13%, 33%);
$primary-gradient: linear-gradient(130deg, $primary-1 0%, $primary-2 100%);

html {
    height: 100%;
}

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: $light-1;
    background-image: url("../images/bg-top.svg"),
        url("../images/bg-bottom.svg");
    background-repeat: no-repeat;
    background-position: top right, bottom left;
    @media only screen and (max-width: 900px) {
        background-image: url("../images/bg-top.svg");
        background-position: top -6px right -154px;
    }
}

.switch-container {
    width: fit-content;
    margin: 71px auto 62px;
    h1 {
        margin-bottom: 40px;
    }

    p {
        font-size: 0.9em;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 240px;
        color: $light-2;
    }

    @media only screen and (max-width: 900px) {
        width: fit-content;
        margin: 75px auto;
    }
}

.panel-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 64px auto;
    padding-left: 0;
    @media only screen and (max-width: 900px) {
        flex-direction: column;
    }
}

h1 {
    font-size: 2em;
    font-weight: 800;
    text-align: center;
    color: $neutral;
}

.button {
    cursor: pointer;
    transition: 0.3s;
}

.attribution {
    font-size: 11px;
    margin: 40px;
    text-align: center;
    a {
        color: $dark;
    }
}
