@import "toggle";
@import "panel";

$primary-1: hsl(236, 72%, 79%);
$primary-2: hsl(237, 63%, 64%);
$light-1: hsl(240, 78%, 98%);
$light-2: hsl(234, 14%, 74%);
$neutral: hsl(233, 13%, 49%);
$dark: hsl(232, 13%, 33%);
$primary-gradient: linear-gradient(130deg, $primary-1 0%, $primary-2 100%);

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: $light-1;
}

.design {
    position: fixed;
    z-index: -1;
    &--top {
        top: 0;
        right: 0;
        content: url("../images/bg-top.svg");
        @media only screen and (max-width: 900px) {
            top: -50px;
            right: -190px;
        }
    }

    &--bottom {
        bottom: 0;
        left: 0;
        content: url("../images/bg-bottom.svg");
        @media only screen and (max-width: 900px) {
            display: none;
        }
    }
}

.switch-container {
    width: fit-content;
    margin: 75px auto;
    p {
        font-size: 0.9em;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 240px;
        color: $light-2;
    }

    @media only screen and (max-width: 900px) {
        width: fit-content;
        margin: 75px auto;
    }
}

.switch-span {
    display: flex;
    align-items: center;
}

.panel-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 75px auto;
    @media only screen and (max-width: 900px) {
        flex-direction: column;
    }
}

h1 {
    font-size: 2em;
    font-weight: 800;
    text-align: center;
    color: $neutral;
}

.button {
    cursor: pointer;
    transition: 0.3s;
}

.attribution {
    font-size: 11px;
    margin: 40px;
    text-align: center;
    a {
        color: $dark;
    }
}
