:root {
    --primary-light: hsl(236, 72%, 79%);
    --primary-dark: hsl(237, 63%, 64%);
    --neutral-light-1: hsl(240, 78%, 98%);
    --neutral-light-2: hsl(234, 14%, 74%);
    --neutral: hsl(234, 13%, 49%);
    --neutral-dark: hsl(232, 13%, 33%);
}

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--neutral-light-1);
}

.design {
    position: fixed;
    z-index: -1;
}

.design-top {
    top: 0;
    right: 0;
}

.design-bottom {
    bottom: 0;
    left: 0;
}

.switch-container {
    width: fit-content;
    margin: 75px auto;
}

.switch-container p {
    font-size: 0.9em;
    font-weight: 700;
    width: 240px;
    color: var(--neutral-light-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* TODO: Line up text and toggle */
}

#switch-span {
    display: flex;
    align-items: center;
}

.panel-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 75px auto;
}

h1 {
    font-size: 2em;
    font-weight: 800;
    text-align: center;
    color: var(--neutral);
}

.button {
    cursor: pointer;
    transition: 0.2s;
}

/* Mobile layout */
@media only screen and (max-width: 900px) {
    .panel-list {
        flex-direction: column;
    }

    .design-top {
        top: -50px;
        right: -190px;
    }

    .design-bottom {
        display: none;
    }

    .switch-container {
        width: fit-content;
        margin: 75px auto;
    }
}
