:root {
    --primary-light: hsl(236, 72%, 79%);
    --primary-dark: hsl(237, 63%, 64%);
    --purple-gradient: linear-gradient(
        130deg,
        var(--primary-light) 0%,
        var(--primary-dark) 100%
    );
}

.custom-toggle {
    width: fit-content;
    height: 30px;
    transition: 0.3s;
    border-radius: 20px;
    /* TODO: Fix extra color appearing above toggle */
}

.custom-toggle:hover {
    cursor: pointer;
    opacity: 0.5;
}

.custom-toggle:focus {
    outline: none;
    background-color: var(--primary-dark);
    box-shadow: 0 0 0 4px var(--primary-dark);
}

.custom-toggle__slider {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    background-color: var(--primary-light);
    background-image: var(--purple-gradient);
}

.custom-toggle__toggle {
    position: absolute;
    top: 3px;
    left: 5px;
    display: inline-block;
    width: 24px;
    height: 24px;
    transition: 0.3s;
    border-radius: 50%;
    background-color: #fff;
}

.custom-toggle__toggle--on {
    transform: translateX(26px);
}
