.price-toggle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 32px;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 0;
  border-radius: 20px;
}

.price-toggle:hover {
  opacity: 0.5;
}

.price-toggle:focus {
  outline: none;
  background-color: #696fdd;
  -webkit-box-shadow: 0 0 0 4px #696fdd;
          box-shadow: 0 0 0 4px #696fdd;
}

.price-toggle__slider {
  position: relative;
  display: inline-block;
  width: 57px;
  height: 100%;
  border-radius: 20px;
  background-color: #a3a8f0;
  background-image: linear-gradient(130deg, #a3a8f0 0%, #696fdd 100%);
}

.price-toggle__toggle {
  position: absolute;
  top: 4px;
  left: 6px;
  display: inline-block;
  width: 24px;
  height: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
}

.price-toggle--annually .price-toggle__toggle {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.pricing-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 24.5vw;
  max-width: 350px;
  height: 454px;
  margin-top: 25px;
  padding: 0 30px;
  text-align: center;
  color: #494c5f;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 20px 13px rgba(185, 186, 187, 0.2);
          box-shadow: 1px 1px 20px 13px rgba(185, 186, 187, 0.2);
}

.pricing-panel__title {
  font-size: 1.12em;
  font-weight: 700;
  margin-top: 13px;
}

.pricing-panel__price {
  font-size: 4.5em;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1px 0;
  letter-spacing: -0.04em;
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .pricing-panel__price {
    font-size: 3.5em;
  }
}

@media only screen and (max-width: 320px) {
  .pricing-panel__price {
    font-size: 3.2em;
  }
}

@media only screen and (max-width: 250px) {
  .pricing-panel__price {
    font-size: 2.5em;
  }
}

.pricing-panel__price-dollar {
  font-size: 0.5em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 12px;
}

.pricing-panel__benefits {
  margin: 23px 0 19px;
  padding-left: 0;
  list-style-type: none;
  letter-spacing: -0.03em;
  color: #6d708d;
}

.pricing-panel__benefits li {
  font-weight: bold;
  padding: 17px 0;
  border-top: 1px solid #b3b5c6;
}

.pricing-panel__benefits li:last-of-type {
  border-bottom: 1px solid #b3b5c6;
}

@media only screen and (max-width: 250px) {
  .pricing-panel__benefits {
    font-size: 0.8em;
  }
}

.pricing-panel__button {
  font-weight: bold;
  height: 45px;
  margin: 10px 0;
  text-transform: uppercase;
  color: #f6f6fe;
  border: none;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #696fdd;
  background-image: linear-gradient(130deg, #a3a8f0 0%, #696fdd 100%);
}

.pricing-panel__button:hover {
  color: #696fdd;
  border-color: #696fdd;
  background-color: transparent;
  background-image: none;
}

.pricing-panel__button:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 4px #696fdd;
          box-shadow: 0 0 0 4px #696fdd;
}

@media only screen and (max-width: 250px) {
  .pricing-panel__button {
    font-size: 0.8em;
  }
}

.pricing-panel:nth-of-type(even) {
  height: 500px;
  margin-top: 0;
  color: #f6f6fe;
  background-color: #696fdd;
  background-image: linear-gradient(130deg, #a3a8f0 0%, #696fdd 100%);
}

.pricing-panel:nth-of-type(even) .pricing-panel__benefits {
  color: #f6f6fe;
}

.pricing-panel:nth-of-type(even) .pricing-panel__button {
  color: #696fdd;
  background-color: #f6f6fe;
  background-image: none;
}

.pricing-panel:nth-of-type(even) .pricing-panel__button:hover {
  color: #f6f6fe;
  border: 1px solid #f6f6fe;
  border-color: #f6f6fe;
  background-color: transparent;
}

.pricing-panel:nth-of-type(even) .pricing-panel__button:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 4px #a3a8f0;
          box-shadow: 0 0 0 4px #a3a8f0;
}

@media only screen and (max-width: 1024px) {
  .pricing-panel:nth-of-type(even) {
    height: 454px;
  }
}

@media only screen and (max-width: 1024px) {
  .pricing-panel {
    width: 87vw;
    margin-top: 0;
    margin-bottom: 32px;
  }
  .pricing-panel:last-of-type {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 320px) {
  .pricing-panel {
    padding-right: 15px;
    padding-left: 15px;
  }
}

html {
  height: 100%;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #f6f6fe;
  background-image: url("../images/bg-top.svg"), url("../images/bg-bottom.svg");
  background-repeat: no-repeat;
  background-position: top right, bottom left;
}

@media only screen and (max-width: 768px) {
  body {
    background-image: url("../images/bg-top.svg");
    background-position: top -6px right -154px;
  }
}

.toggle-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 71px auto 62px;
}

.toggle-container h1 {
  margin-bottom: 40px;
}

.toggle-container p {
  font-size: 0.9em;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 240px;
  color: #b3b5c6;
}

@media only screen and (max-width: 320px) {
  .toggle-container p {
    font-size: 0.8em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .toggle-container p span:first-child {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .toggle-container p span:first-child,
  .toggle-container p .price-toggle {
    margin-bottom: 10px;
  }
  .toggle-container p span:last-child {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media only screen and (max-width: 1024px) {
  .toggle-container {
    margin: 64px auto;
  }
}

.panel-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 64px auto;
  padding-left: 0;
}

@media only screen and (max-width: 1024px) {
  .panel-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 79px;
  }
}

h1 {
  font-size: 2em;
  font-weight: 800;
  text-align: center;
  color: #6d708d;
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 1.5em;
  }
}

.button {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.attribution {
  font-size: 11px;
  margin: 40px;
  text-align: center;
}

.attribution a {
  color: #494c5f;
}
